body {
  font-family: "Outfit", sans-serif;
  width: 98vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  height: max-content;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0.75rem 1.25rem 0.55rem;
}

img {
  width: 258px;
  height: auto;
  border-radius: 12px;
}

.text-container {
  width: 225px;
  //border: 1px black solid;
}

h3 {
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
